<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴基斯坦国情小站</title>
    <link rel="stylesheet" href="../static/css/about-img.css">
</head>

<body>
    <a href="https://www.bilibili.com/"><img src="../static/img/culture.jpeg" alt="文化" title="文化"
            class="img-distance"></a>
    <a href="https://www.iqiyi.com/"><img src="../static/img/diplomacy.jpeg" alt="外交" title="外交"
            class="img-distance"></a>
    <a href="http://127.0.0.1:8000/history/"><img src="../static/img/history.jpeg" alt="历史" title="历史" class="img-distance"></a>
</body>

</html>