<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/CSS/diplomacy.css">
    <title>巴基斯坦外交大事纪</title>
</head>

<body>
    <!-- 顶部导航栏 -->
    <header class="text-gray-700 py-4">
        <div class="container mx-auto flex justify-between items-center px-6">
            <div class="text-3xl font-bold">巴基斯坦の小站</div>
            <nav>
                <ul class="flex space-x-8">
                    <li class="hover:text-black-500 hover:underline"><a href="http://127.0.0.1:8000/index/">首页</a></li>
                    <li class="hover:bg-gray-200"><a href="http://127.0.0.1:8000/culture/">文化</a></li>
                    <li class="hover:bg-gray-200"><a href="http://127.0.0.1:8000/history/">历史</a></li>
                    <li class="hover:bg-gray-200"><a href="http://127.0.0.1:8000/diplomacy/">外交</a></li>
                    <li class="hover:bg-gray-200">关于我们</li>
                </ul>
            </nav>
            <button class="bg-gray-200 text-black py-2 px-4 rounded">登录</button>
        </div>
    </header>
    <div class="bar">
        <h1>The Diplomacy of Pakistan</h1>
    </div>
    <div>
        <h3>目录<h6>(点击下方目录即可跳转到相应内容)</h6>
        </h3>
    </div>
    <ol>

        {% for item in data_list %}
        <li><a href="#{{item.id}}">{{item.times}}</a></li>
        {% endfor %}

    </ol>
    <div class="barlist">
        {% for country in countries %}
        <div class="listbox1" id="{{ country }}">
            <h1 class="data1">{{ country }}</h1>
            <hr>
            {% for record in test_records %}
            {% if record.country == country %}
            <div>
                <h2 class="data2" id="{{ record.title }}">
                    {{ record.title }}
                </h2>
                <div>
                    <h5 class="data3">{{ record.text }}</h5>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>