<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴基斯坦国情小站</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        <div id="myDiv" style="display: none;">
            <div class="bg-white shadow-md" style="width: 200px;">
                <div class="flex flex-col justify-between h-full">
                    <div>
                        <div class="px-6 py-4">
                            <img onclick="showDiv2();toggleDiv()" src="../static/img/left.svg" class="">
                            <a href="#" onclick="showDiv2();toggleDiv()" class="text-2xl font-semibold text-gray-900 ml-[-5px]">ㅤㅤㅤㅤㅤㅤㅤ</a>
                            <div class="image-container">
                                <img src="../static/img/烈日.png" alt="Image 1">
                                <img src="../static/img/多云.png" alt="Image 2">
                                <img src="../static/img/小雨.png" alt="Image 3">
                                <img src="../static/img/大雪.png" alt="Image 4">
                            </div>
                        </div>
                        <nav class="flex flex-col px-6 mt-6 space-y-1">
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">北京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">南京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">东京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">西京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">北京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">南京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">东京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">西京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">北京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">南京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4">东京 晴 66°C</a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">西京 晴 66°C</a>
                          </nav>
                          </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="flex-1 flex flex-col">
            <!-- Top navigation -->
            <header class="text-gray-700 py-4">  
                <div class="container mx-auto flex justify-between items-center px-6">
                    <img id="myDiv2" onclick="toggleDiv();hideDiv2()" class="ml-[-55px]" src="../static/img/weather.svg">
                    <div class="text-3xl font-bold">巴基斯坦の小站</div>
                    <nav>
                        <ul class="flex space-x-8 ml-20">
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="http://pakistannews.cn/index/">首页</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="http://pakistannews.cn/culture/">文化</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="http://pakistannews.cn/history/">历史</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="http://pakistannews.cn/diplomacy/">外交</a>
                            </li>
                            <li  class="hover:bg-gray-200 rounded hover:underline">
                                <a href="#">关于我们</a>
                            </li>
                        </ul>
    
                    </nav>
                    <div id="myDiv3" style="display: block;">
                        <button class="bg-gray-200 text-black py-2 px-4 rounded ml-4"><a href="http://127.0.0.1:8000/login/">登录</a></button>
                    </div>    
                
                </div>
            </header>

            <!-- Page content -->
            <section class="my-4 mx-6 ">
                <div class="bg-white p-4 rounded w-90 ml-4">
                     <!-- 图片轮播 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="http://pakistannews.cn/culture/">
                                <div class="flex justify-center">
                                    <img src="../static/img/3.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded">
                                </div>
                            </a>    
                        </div>
                        <div class="carousel-item">
                            <a href="http://pakistannews.cn/history/">
                                <div class="flex justify-center">
                                    <img src="../static/img/2.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded">
                                </div>
                            </a>    
                        </div>
                        <div class="carousel-item">
                            <a href="http://pakistannews.cn/diplomacy/">
                                <div class="flex justify-center">
                                    <img src="../static/img/1.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded">
                                </div>
                            </a>    
                        </div>
                    </div>
                    <div class="grid grid-cols-5 gap-4 pb-4"></div>
                    <div class="grid grid-cols-5 gap-4 pb-4"></div>
                     <!-- 文章列表1 -->
                    <div id="div1" class=" bg-white shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                              <div class="flex-shrink-0">
                                <img src="../static/img/w1.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                              </div>
                              <div class="ml-4">
                                <a href="file:///C:/Users/34544/Desktop/blog/page.html" class="text-xl font-semibold hover:text-black-500 hover:underline">文章1</a>
                                <p class="mt-2 text-gray-600 text-sm">《原神》4.3版本「蔷薇与铳枪」将于2023年12月20日上线。感谢各位旅行者的支持与陪伴，我们将为大家带来更多4.3版本的最新消息~</p>
                                <div class="mt-4 flex items-center">
                                  <div class="flex text-gray-600 text-sm">
                                    <span>王者荣耀 ·</span>
                                    <span class="ml-1">2020-08-26</span>
                                  </div>
                                  <div class="flex ml-auto text-red-600">
                                    <i class="fas fa-chevron-up"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="../static/img/w2.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章2</h2>
                                    <p class="mt-2 text-gray-600 text-sm">光与影交错，虚与实相间，蛋壳上的图景栩栩如生，仿佛这片烟火人间近在眼前。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="../static/img/w3.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章3《原神》角色演示-「王续斌：啦啦啦啦啦」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="../static/img/w4.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章4《原神》角色演示-「王续斌：啦啦啦啦啦」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                           
                    </div>
                    <!-- 文章列表2 -->
                    <div id="div2" class="hidden bg-white shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章5</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》4.3版本「蔷薇与铳枪」将于2023年12月20日上线。
                                        感谢各位旅行者的支持与陪伴，我们将为大家带来更多4.3版本的最新消息~</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>王者荣耀 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章6</h2>
                                    <p class="mt-2 text-gray-600 text-sm">光与影交错，虚与实相间，蛋壳上的图景栩栩如生，仿佛这片烟火人间近在眼前。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">《原神》角色演示-「王续斌：哈哈哈哈哈」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>         
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">《原神》角色演示-「王续斌：哈哈哈哈哈」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <!-- 文章列表3 -->
                    <div id="div3" class="hidden shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                              <div class="flex-shrink-0">
                                <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                              </div>
                              <div class="ml-4">
                                <a href="file:///C:/Users/34544/Desktop/blog/page.html" class="text-xl font-semibold hover:text-black-500 hover:underline">文章7</a>
                                <p class="mt-2 text-gray-600 text-sm">《原神》4.3版本「蔷薇与铳枪」将于2023年12月20日上线。感谢各位旅行者的支持与陪伴，我们将为大家带来更多4.3版本的最新消息~</p>
                                <div class="mt-4 flex items-center">
                                  <div class="flex text-gray-600 text-sm">
                                    <span>王者荣耀 ·</span>
                                    <span class="ml-1">2020-08-26</span>
                                  </div>
                                  <div class="flex ml-auto text-red-600">
                                    <i class="fas fa-chevron-up"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://placehold.co/150x150" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章8</h2>
                                    <p class="mt-2 text-gray-600 text-sm">光与影交错，虚与实相间，蛋壳上的图景栩栩如生，仿佛这片烟火人间近在眼前。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="wxb.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章3《原神》角色演示-「王续斌：啦啦啦啦啦」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="wxb.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <h2 class="text-xl font-semibold hover:text-black-500 hover:underline">文章4《原神》角色演示-「王续斌：啦啦啦啦啦」</h2>
                                    <p class="mt-2 text-gray-600 text-sm">《原神》bilibili服下载地址： https://www.biligame.com/detail/?id=103496。</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>金铲铲 ·</span>
                                            <span class="ml-1">2020-08-26</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                           
                    </div>          
                    <!-- 换页按钮 -->
                    <div class="py-4">
                        <div class="flex justify-center">
                          <div class="flex rounded-md">
                            <a href="#" onclick="showDiv(1)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300 rounded-l-md">1</a>
                            <a href="#" onclick="showDiv(2)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300">2</a>
                            <a href="#" onclick="showDiv(3)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300 ">3</a>
                            <!-- <a href="#" onclick="showDiv(1)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300 rounded-r-md">></a> -->
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>