<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴基斯坦国情小站</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=G2q4faIwMZ5HhbNzyQqtXGOrk6o18cH1"></script>
    <style type="text/css">  
        html { height: 100%; }    
        body { height: 100%; margin: 0; padding: 0; }    
        #mapcontainer { height: 300px; /*设置高度*/
        width: 180px;
        margin: 0 auto;
        border-radius: 10px; /* 设置圆角半径 */
        background-color: #f1f1f1; /* 设置背景色 */
        border: 5px solid #8e8e98; /* 设置边框样式 */
        padding: 10px; }    
    </style>
</head>
<body class="bg-gray-100">
    <div class="flex">
        <div id="floatingWindow" class="floating-window">
            <h2><p>&nbsp;超级汪汪队，出发！</p></h2>  
            <div onclick="hideFloatingWindow()" class="close-button action-button">
                <button>&nbsp;出发！</button>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="myDiv" style="display: none;">   <!--左侧侧边栏 点击云朵天气图案  有相应的城市及其天气-->
            <div class="bg-white shadow-md" style="width: 215px;">
                <div class="flex flex-col justify-between h-full">
                    <div>
                        <div class="px-6 py-4">
                            <img onclick="showDiv2();toggleDiv()" src="../static/img/left.svg" class="">
                            <a href="#" onclick="showDiv2();toggleDiv()" class="text-2xl font-semibold text-gray-900 ml-[-5px]">ㅤㅤㅤㅤㅤㅤㅤ</a>
                            <div class="image-container">
                                <img src="../static/img/烈日.svg" alt="Image 1">
                                <img src="../static/img/多云.svg" alt="Image 2">
                                <img src="../static/img/小雨.svg" alt="Image 3">
                                <img src="../static/img/大雪.svg" alt="Image 4">
                            </div>
                        </div>
            
                        <nav class="flex flex-col px-6 mt-4 space-y-1">  <!--有天气内容 点击某个城市 可在地图上切换到该地-->
                            <a  href="#"class="text-gray-600 hover:text-gray-900 font-bold  text-lg ml-4">巴基斯坦时间：</a>
                            <a id="PakistanTime" href="#"class="text-gray-600 hover:text-gray-900 font-bold  larger-font1 ml-4"></a>
                            <a href="#" onclick="addMarker(33.6844,73.0479);disFunction(event)"class="text-gray-600 hover:text-gray-900 hover:underline font-bold text-lg ml-4">伊斯兰堡 <span id="yslb-weather"></span></a>
                            <a href="#" onclick="addMarker(24.8607, 67.0011);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg hover:underline">卡拉奇<span id="klq-weather"></span></a>
                            <a href="#" onclick="addMarker(31.5820, 74.3294);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4 hover:underline">拉合尔 <span id="lhe-weather"></span></a>
                            <a href="#" onclick="addMarker(30.1636, 71.5254);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg hover:underline">木尔坦 <span id="met-weather"></span></a>
                            <a href="#" onclick="addMarker(34.01734, 71.5246);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4 hover:underline">白沙瓦 <span id="bsw-weather"></span></a>
                            <a href="#" onclick="addMarker(27.3364, 68.2413);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg hover:underline">莫克兰 <span id="mkl-weather"></span></a>
                            <a href="#" onclick="addMarker(25.11028, 62.33994);disFunction(event)"class="text-gray-600 hover:text-gray-900 font-bold text-lg ml-4 hover:underline">瓜达尔港 <span id="gdeg-weather"></span></a>
                            <a href="#" class="text-gray-600 hover:text-gray-900 font-bold text-lg ">&nbsp;</a>
                        </nav>
                        <div id="mapcontainer" class="items-center"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="flex-1 flex flex-col">
            <!-- Top navigation -->
            <header class="text-gray-700 py-4">  
                <div class="container mx-auto flex justify-between items-center px-6">
                    <img id="myDiv2" onclick="toggleDiv();hideDiv2()" class="ml-[-55px]" src="../static/img/weather.svg">
                    <a href="https://pakistannews.cn"><div class="text-3xl font-bold">巴基斯坦の小站</div></a>
                    <nav>
                        <ul class="flex space-x-8 ml-20">
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="https://pakistannews.cn">首页</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="https://pakistannews.cn/culture/">文化</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="https://pakistannews.cn/history/">历史</a>
                            </li>
                            <li class="hover:bg-gray-200 rounded hover:underline">
                                <a href="https://pakistannews.cn/diplomacy/">外交</a>
                            </li>
                            <li onclick="showFloatingWindow()"class="hover:bg-gray-200 rounded hover:underline">
                                <a href="#">关于我们</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="https://pakistannews.cn/login/"><button id="login" class="bg-gray-200 text-black py-2 px-4 rounded ml-4">登录</button></a>
                    {% if request.user.is_authenticated %}<!--是否是正确用户-->
                    {% if request.user.is_superuser %}<!--是否是超级用户-->
                        <p onclick="showlogin()" id="loginMessage" title="退出登入" class="hover:underline hover:bg-gray-200 rounded">管理员 {{ request.user.username }} 已登入</p>
                    {% else %}
                        <p onclick="showlogin()" id="loginMessage" title="退出登入" class="hover:underline hover:bg-gray-200 rounded">用户 {{ request.user.username }} 已登入</p>
                    {% endif %}
                    {% endif %}
                </div>
            </header>

            <!-- Page content -->
            <section class="my-4 mx-6 ">
                <div class="bg-white p-4 rounded w-90 ml-4">
                     <!-- 图片轮播 点击对应图片可以跳转到文字对应的板块-->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#">
                                <div class="flex justify-center">
                                    <img src="https://pic.imgdb.cn/item/6581a0f0c458853aefc3689d.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded" onclick="window.location.href='https://pakistannews.cn/diplomacy'">
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <div class="flex justify-center">
                                    <img src="https://pic.imgdb.cn/item/6581a0f0c458853aefc367cf.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded" onclick="window.location.href='https://pakistannews.cn/history'">
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <div class="flex justify-center">
                                    <img src="https://pic.imgdb.cn/item/6581a0f0c458853aefc3675d.jpg" alt="A breathtaking view of a canyon with a smooth, curved sandstone formation, showcasing warm hues of red and orange under subtle lighting" class="w-2/3 h-auto rounded" onclick="window.location.href='https://pakistannews.cn/culture'">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid grid-cols-5 gap-4 pb-4"></div>
                    <div class="grid grid-cols-5 gap-4 pb-4"></div>
                     <!-- 文章列表1 -->
                    <div id="div1" class=" bg-white shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                              <div class="flex-shrink-0">
                                <img src="https://pic.imgdb.cn/item/6581a2adc458853aefcacac1.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                              </div>
                              <div class="ml-4">
                                <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">南亚卡车艺术——Truck art</a>
                                <p class="mt-2 text-gray-600 text-sm">南亚卡车艺术（英语：Truck art in South Asia）是一种流行的地区装饰（regional decoration）形式，卡车上有精致的花卉图案及书法艺术。它尤其于巴基斯坦及印度甚为常见...</p>
                                <div class="mt-4 flex items-center">
                                  <div class="flex text-gray-600 text-sm">
                                    <span>文化 ·</span>
                                    <span class="ml-1">2023-12-19</span>
                                  </div>
                                  <div class="flex ml-auto text-red-600">
                                    <i class="fas fa-chevron-up"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a2adc458853aefcacb61.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">旧石器时代——Soanian</a>
                                    <p class="mt-2 text-gray-600 text-sm">Soanian 是旧石器时代下部 Acheulean 的考古文化。它以现代伊斯兰堡/拉瓦尔品第附近的西瓦利克山的索安山谷命名...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>历史 ·</span>
                                            <span class="ml-1">2023-12-18</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a2adc458853aefcacbf3.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">巴基斯坦与美国外交</a>
                                    <p class="mt-2 text-gray-600 text-sm">《1958年巴基斯坦军事政变后，阿尤布·汗改变了原来的不结盟立场，改为亲西方，先后加入了中央条约组织和东南亚条约组织...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>外交 ·</span>
                                            <span class="ml-1">2023-12-17</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a2b3c458853aefcadf29.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">国家格言——“虔诚，统一，戒律”</a>
                                    <p class="mt-2 text-gray-600 text-sm">虔诚，统一，戒律”（乌尔都语：ایمان، اتحاد، نظم），又译为“有纪律，就有团结”，是巴基斯坦的国家格言，被视为巴基斯坦的指导原则...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>文化 ·</span>
                                            <span class="ml-1">2023-12-16</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                           
                    </div>
                    <!-- 文章列表2 -->
                    <div id="div2" class="hidden bg-white shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                              <div class="flex-shrink-0">
                                <img src="https://pic.imgdb.cn/item/6581a0f0c458853aefc368ec.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                              </div>
                              <div class="ml-4">
                                <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">乌尔都语——اُردُو</a>
                                <p class="mt-2 text-gray-600 text-sm">乌尔都语（乌尔都语：اُردُو）是属于印欧语系印度-伊朗语族的印度-雅利安语支。 从使用人数来看...</p>
                                <div class="mt-4 flex items-center">
                                  <div class="flex text-gray-600 text-sm">
                                    <span>文化 ·</span>
                                    <span class="ml-1">2023-12-15</span>
                                  </div>
                                  <div class="flex ml-auto text-red-600">
                                    <i class="fas fa-chevron-up"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a0f0c458853aefc36945.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">新石器时代——Mehrgarh</a>
                                    <p class="mt-2 text-gray-600 text-sm">Mehrgarh是1974年发现的重要新石器时代遗址,它显示了农业和畜牧业的早期证据,以及牙科...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>历史 ·</span>
                                            <span class="ml-1">2023-12-14</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a130c458853aefc47ebc.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">巴基斯坦与中国外交</a>
                                    <p class="mt-2 text-gray-600 text-sm">1947年8月14日，因印巴分治，原英属印度被分为印度联邦与巴基斯坦自治领，中华民国在当天承认巴基斯坦自治领独立并建立外交关系...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>外交 ·</span>
                                            <span class="ml-1">2023-12-13</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a131c458853aefc47f06.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">巴基斯坦独立日——Yom-e-Istiqlal</a>
                                    <p class="mt-2 text-gray-600 text-sm">巴基斯坦独立日（英文：Yom-e-Istiqlal) 是巴基斯坦的国家假期，定于每年的8月14日。 该日为纪念巴基斯坦于1947年的8月14日...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>文化 ·</span>
                                            <span class="ml-1">2023-12-12</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 文章列表3 -->
                    <div id="div3" class="hidden shadow-lg overflow-hidden ml-auto mr-auto " style="width: 70%">
                        <div class="p-6">
                            <div class="flex items-start">
                              <div class="flex-shrink-0">
                                <img src="https://pic.imgdb.cn/item/6581a131c458853aefc47f76.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                              </div>
                              <div class="ml-4">
                                <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">地理位置</a>
                                <p class="mt-2 text-gray-600 text-sm">巴基斯坦位于南亚，东与印度比邻，南面是印度洋，西与伊朗接壤，西北和阿富汗相连，东北面可通往中国新疆...</p>
                                <div class="mt-4 flex items-center">
                                  <div class="flex text-gray-600 text-sm">
                                    <span>文化 ·</span>
                                    <span class="ml-1">2023-12-11</span>
                                  </div>
                                  <div class="flex ml-auto text-red-600">
                                    <i class="fas fa-chevron-up"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="https://pic.imgdb.cn/item/6581a131c458853aefc47fb3.jpg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">印度河流域文明</a>
                                    <p class="mt-2 text-gray-600 text-sm">印度河流域的青铜时代始于公元前 3300 年左右的印度河流域文明.与古埃及和美索不达米亚一起,它是旧世界...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>历史 ·</span>
                                            <span class="ml-1">2023-12-10</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="../static/img/w1.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/history/" class="text-xl font-semibold hover:text-black-500 hover:underline">巴基斯坦与美国外交</a>
                                    <p class="mt-2 text-gray-600 text-sm">911事件发生后，穆沙拉夫领导的巴基斯坦军方随即加入了美国领导的反恐战争，为北约提供到阿富汗的补给路线...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>外交 ·</span>
                                            <span class="ml-1">2023-12-13</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="p-6">
                            <div class="flex items-start">
                                <div class="flex-shrink-0">
                                    <img src="../static/img/w2.jpeg" alt="Laptop with black and white design" class="w-24 h-24 object-cover rounded-lg shadow-md">
                                </div>
                                <div class="ml-4">
                                    <a href="https://pakistannews.cn/culture/" class="text-xl font-semibold hover:text-black-500 hover:underline">旁遮普文化</a>
                                    <p class="mt-2 text-gray-600 text-sm">旁遮普文化概括南亚旁遮普地区（包括印度旁遮普邦等地区、巴基斯坦旁遮普省）和旁遮普族的饮食、艺术、习俗、建筑...</p>
                                    <div class="mt-4 flex items-center">
                                        <div class="flex text-gray-600 text-sm">
                                            <span>文化 ·</span>
                                            <span class="ml-1">2023-12-16</span>
                                        </div>
                                        <div class="flex ml-auto text-red-600">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <!-- 换页按钮 点击可跳转到对应页-->
                    <div class="py-4">
                        <div class="flex justify-center">
                          <div class="flex rounded-md">
                            <a href="#" onclick="showDiv(1);disFunction(event)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300 rounded-l-md">1</a>
                            <a href="#" onclick="showDiv(2);disFunction(event)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300">2</a>
                            <a href="#" onclick="showDiv(3);disFunction(event)" class="px-4 py-2 text-gray-700 bg-white border border-r-0 border-gray-300 rounded-r-md">3</a>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white text-black py-4 text-center text-xs">
        © 2022-2023 Developed by wangwangteam - 中巴友谊万岁
    </div>
    <script src="../static/js/index.js"></script>
    <script>
        var map = new BMap.Map("mapcontainer");
        var point = new BMap.Point(62, 38.6844); 
        map.centerAndZoom(point, 5.5);
        map.enableScrollWheelZoom(true);
    </script>
    <script>
        const apiKey = 'b703f4192b9d4439ac23c863a80ea9df'; // 将YOUR_API_KEY替换为你的API Key
        
        // 城市代码
        const locations = {
            yisilanbao: '73.04,33.64',
            kalaqi: '68.00,24.91',
            laheer: '74.32,31.58',
            muertan: '71.52,30.16',
            baishawa: '71.52,34.01',
            mokelan: '68.24,27.33',
            guadaergang: '62.33,25.11'
        };
        
        // 从API获取天气数据并在页面上显示
        function fetchWeather(location, elementId) {
            const url = `https://devapi.qweather.com/v7/weather/now?location=${location}&key=${apiKey}`;
        
            fetch(url)
                .then(response => response.json()) // 将响应数据转换为JSON
                .then(data => {
                    if (data.code === "200") { // 确保返回代码是'200'表示查询成功
                        const temperature = data.now.temp; // 获取温度
                        const condition = data.now.text; // 获取天气状况
                        displayWeather(temperature, condition, elementId); // 显示天气数据
                    } else {
                        console.error(`Error fetching weather for ${elementId}`, data.code);
                    }
                })
                .catch(error => {
                    console.error(`Error fetching weather for ${elementId}`, error);
                });
        }
        
        // 在网页上显示温度和天气状况
        function displayWeather(temperature, condition, elementId) {
            const weatherInfo = `
                <span>${condition} ${temperature}°C</span>`;
            document.getElementById(elementId).innerHTML = weatherInfo;
        }
        
        // 页面加载完毕后获取各个城市的天气数据
        document.addEventListener('DOMContentLoaded', () => {
            fetchWeather(locations.yisilanbao, 'yslb-weather');
            fetchWeather(locations.kalaqi, 'klq-weather');
            fetchWeather(locations.laheer, 'lhe-weather');
            fetchWeather(locations.muertan, 'met-weather');
            fetchWeather(locations.baishawa, 'bsw-weather');
            fetchWeather(locations.mokelan, 'mkl-weather');
            fetchWeather(locations.guadaergang, 'gdeg-weather');

        });
    </script>
    <script>
        // 当页面完全加载完成时执行的函数
        window.onload = function() {
            // 检查是否有登录消息元素，以及它的内容是不是表示登录成功
            var loginMessage = document.getElementById("loginMessage");
            if (loginMessage) {
                hidlogin(); // 调用 hidlogin 函数隐藏登录按钮
            }
        };

        // 隐藏登录按钮的函数
        function hidlogin() {
            var loginbtn = document.getElementById("login");
            if (loginbtn) {
                loginbtn.style.display = "none";
            }
        }
        function showlogin() {
    // 显示登录按钮
    var loginbtn = document.getElementById("login");
    if (loginbtn) {
        loginbtn.style.display = "block";
    }

    // 移除登录消息元素，模仿用户已经退出登录
    var loginMessage = document.getElementById("loginMessage");
    if (loginMessage) {
        loginMessage.parentNode.removeChild(loginMessage);
    }
    
}
    </script>
</body>
</html>