<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/CSS/history.css">
    <link rel="stylesheet" href="/CSS/common.css">
    <title>巴基斯坦外交大事纪</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/catalogue">主页</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                aria-label="Toggle navigation" data-toggle="dropdown">
                <span class="navbar-toggler-icon" data-toggle="dropdown"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/culture/">文化</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/history/">历史</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/diplomacy/">外交</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.thenews.com.pk/">官方网站</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="true">
                            全部
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">电视</a></li>
                            <li><a class="dropdown-item" href="#">动漫</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="bar">
        <h1>The Diplomacy of Pakistan</h1>
    </div>
    <div>
        <h3>目录<h6>(点击下方目录即可跳转到相应内容)</h6>
        </h3>
    </div>
    <ul>

        {% for coun in country %}
        <li>
            <a href="#{{coun}}">{{coun}}</a>

            <ul>
                {% for item in data_list %}
                <li>
                    <a href="#{{item.title}}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <div class="barlist">

        {% for coun in country %}
        <div class="listbox1" id="{{coun}}">
            <h1 class="data1">{{coun}}</h1>
            <hr>

            {% for item in data_list %}
            <div>
                <h2 class="data2" i="{{item.title}}">{{item.title}}</h2>
                <div>
                    <h5 class="data3">{{ item.text}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
    <div class="pagination">
        <span class="step-links">
            <div>
                <span class="current">
                    Page {{ data_list.number }} of {{ data_list.paginator.num_pages }}.
                </span>
            </div>
            {% if data_list.has_previous %}
            <a href="?page={{ data_list.previous_page_number }}">&laquo; 上一页</a>
            {% else %}
            <span class="disabled">&laquo; 上一页</span>
            {% endif %}

            {% if data_list.has_next %}
            <a href="?page={{ data_list.next_page_number }}">下一页 &raquo;</a>
            {% else %}
            <span class="disabled">下一页 &raquo;</span>
            {% endif %}
        </span>
    </div>
</body>

</html>