<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Pakistan</title>
    <style>
        body{
            background-image: url(../static/img/5.jpg);
            background-size: cover;

        }
    </style>
</head>
<body>
    <h2 style="color:blueviolet;">Welcome To Pakistan</h2>
    <h1 style="color:cadetblue">巴基斯坦国情小站</h1>
    <a href="http://pakistannews.cn/index/">遨游巴基斯坦</a>

</body>
</html>