body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f7f7f7;
}
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.carousel-item:first-child {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.carousel-item.active {
    opacity: 1;
    z-index: 2;
}
.hover:bg-gray-200:hover {
background-color: #CBD5E0; /* 你想要的背景颜色 */
}
.hidden {
display: none;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  .bar {
    background-color: #72767b;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .bar h1 {
   font-size: 24px;
  }

  h1 {
    margin: 0;
  }

  .bar h1 {
    text-align: center; /* Centers the title */
  }

  .barlist, ol {
    padding: 0 0;
  }

  ol {
    padding-left: 20px; /* Add padding to the list */
  }

  a {
    color: #0000EE;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .listbox1 {
    background-color: #faf8f8;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
  }

  .listbox1 h2 {
    margin-top: 0;
  }

  .pagination {
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    background-color: transparent;
    border-top: 1px solid #e2e2e2;
  }

  .pagination .step-links {
    display: inline-block;
    padding: 0;
  }

  .pagination a, .pagination .disabled {
padding: 5px 10px;
border: 1px solid #ddd;
margin: 0 5px;
color: #787b7e;
text-decoration: none;
background-color: #ccc; /* 添加背景颜色 */
border-radius: 5px; /* 添加圆角边框 */
}

  .pagination .current {
    font-weight: bold;
  }

  .pagination .disabled {
color: #ccc;
border: 1px solid #ccc; /* 使用灰色边框 */
background-color: transparent;
}