
body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f7f7f7;
}
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width:100%;
}
.carousel-item:first-child {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.carousel-item.active {
    opacity: 1;
    z-index: 2;
}
.hover:bg-gray-200:hover {
background-color: #CBD5E0; /* 你想要的背景颜色 */
}
.hidden {
display: none;
}