body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f7f7f7;
}
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width:100%;
}
.carousel-item:first-child {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.carousel-item.active {
    opacity: 1;
    z-index: 2;
}
.hover:bg-gray-200:hover {
background-color: #CBD5E0; /* 你想要的背景颜色 */
}
.hidden {
display: none;
}
.w-90 {
    width: 97%;
}
body {
    font-family: 'Inter', sans-serif;
}
.font-bold {
    font-weight: bold;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  .image-container {
    display: flex;
    width: 152px; /* 4 images with 38px width each */
    gap: 2px;
  }
  
  .image-container img {
    width: 38px;
    height: 32px;
    object-fit: cover;
  }
  #map-container {
    height: 60px; /* 设置地图容器高度 */
    width: 180px; /* 设置地图容器宽度 */
    margin: 0 auto; /* 横向居中对齐 */
  }
  .floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px; /* 添加圆角效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
    display: none;
    z-index: 9999;
}
.close-button {
    text-align: center;
    margin-top: 10px;
}
.action-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px;
  background-color: #f8f4f4;
  cursor: pointer;
}
.larger-font1 {
  font-size: 20px;
}